<div class="container">
    <h2>Check your Cargo Status</h2>
    <div class="form-group">
      <label for="cargoId">Cargo ID:</label>
      <input type="text" id="cargoId" [(ngModel)]="cargoIdMd" class="form-control" placeholder="Enter Cargo ID">
      <button (click)="search()" class="btn btn-primary">Search</button>
    </div>
 
    <div *ngIf="showError" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>
  
    <div *ngIf="searchMade && cargo && !showError">
      <h3>Cargo Details</h3>
      <ul>
        <li><strong>Cargo Id:</strong> {{ cargo.id }}</li><br>
        <li><strong>Delivery Status:</strong> {{ cargo.status }}</li><br>
        <li><strong>Delivery Date:</strong> {{ cargo.deliveryDate }}</li>
      </ul>
    </div>
  </div>
  